<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="180">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} | %-5level | %msg | %c{1}.%M(%L) | %t | %X{akkaSource}%n%rEx{full,filters(
                    org.apache,
                    javax,
                    java,
                    org.springframework,
                    sun,
                    net.sf.cglib,
                    ByCGLIB
                    )}</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="net.arksea.restapi.utils.influx.RequestLogProxy" level="trace"/>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
